.signup{
    display: flex;
    justify-content: center;
}
.signup .card{
    width: 500px;
}
.error{
    margin-top: 5px;
    padding: 0 20px;
    color: red;
    border-radius: 10px;
    background: #fff;
}
.notification{
    background-color: rgb(3, 204, 93);
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    width: 500px;

    transform: translateY(-100px);
    visibility: hidden;
    transition: transform .3s ease-in;
    
}
.notification.show{
    transform: translateY(0);
    visibility: visible;
}